body {
  background-color: black;
  color:#a9a9a9;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 0;

}
button{
  background-color: azure;  
}